<div class="box-annonce">
    <div class="box-annonce-header">
        <div class="box-annonce-title"><span class="glyphicon glyphicon-tags"></span> Annonce </div>
        <ul class="box-toolbar">
            <li><span class="label label-green">300 €</span></li>
        </ul>
    </div>

    <div class="box-annonce-section">
        <div class="box-annonce-img">
            <img src="{{ asset('bundles/site/images/devices-site.png') }}" class="img-responsive"/>
        </div>
        <div class="box-annonce-body">
            <div class="news-time"><span>19</span>Dec</div>
            <a href="#">
                <img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="Avatar" class="img-thumbnail-annonce img-responsive circle"/>
                nom d'utilisateur
            </a>
            <div class="star star-blue">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div><a href="#" class="box-annonce-link">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Architecto dignissimos, eum fugit harum illo nam nisi odit quae qui quidem, sed similique sint sit?
                </p>
            </a>
        </div>
    </div>
    <div class="box-annonce-footer">
        <div class="box-annonce-action">
            <div class="box-annonce-nav" >

                <ul class="list-inline">
                    <li><a href="#">Parent</a></li>
                    <li><a href="#">Ville/Departement</a></li>
                    <li><a href="#">52km</a></li>
                    <li>
                        <a href="#"><i class="fa fa-camera-retro"></i></a>
                        <a href="#"><i class="fa fa-ambulance"></i></a>
                        <a href="#"><i class="fa fa-chain-broken offline"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    </a>
</div>