<div class="box box-radius">
    <div class="box-header">
        <div class="title">Options supplémentaires</div>
    </div>

    <div class="box-section">

        <div class="action-nav-normal">
            <div class="row action-nav-row">
                <div class="col-xs-12  action-nav-normal-annonce-home">
                    <ul class="list-inline">
                        <li><a href="#"><span class="glyphicon glyphicon-comment"></span><span class="text">Liens</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-bookmark"></span><span class="text">Liens</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-calendar"></span><span class="text">Liens</span></a></li>
                    </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>