<div class="box-annonce box-radius">
    <div class="box-section box-section-video">
        <img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="" class="img-responsive"/>
    </div>
</div>

<div class="box-annonce box-radius">
    <div class="box-section box-section-video">
        <img src="{{ asset('bundles/site/images/devices-site.png') }}" alt="" class="img-responsive"/>
    </div>
</div>
