<div class="container">
    <div class="row" role="breadcrumb">
        <div class="col-xs-12">
            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><span class="glyphicon glyphicon-home "></span> <a href="#" class="breadcrumb-link">Go</a></span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
                <div class="breadcrumb-sort pull-right">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Trier les annonces : <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Par date</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Par auteur</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-euro"></span>Par prix</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <span class="glyphicon glyphicon-comment"></span> Annonces </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <span class="glyphicon glyphicon-comment"></span> Une timecapsule Apple 3Terra comme neuve </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
            </div>
        </div>

    </div> <!-- row breadcrumb -->

    <div class="row show-annonce-box" role="Annonce">

        <div class="col-xs-5">
            <div class="show-annonce-img">
                <img src="{{ asset('bundles/site/images/maison.jpg') }}" alt="img" class="img-responsive"/>
            </div>
        </div>

        <div class="col-xs-7">
            <div class="show-annonce">
                <div class="news-time"><span>16</span>Juin</div>
                <div class="show-annonce-title">
                    <h2> Une timecapsule Apple 3Terra neuve</h2>
                    <div class="show-annonce-option">
                        <span> <a href="#">
                                <img src="{{ asset('bundles/site/images/Avatars/user-3.jpg') }}" alt="" class="img-responsive circle"/>Christophe Gautier
                            </a>
                        </span>
                        <div class="star star-blue">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <span class="tarif">1700€</span>
                    </div>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Atque dolorum ducimus eligendi eum illo incidunt ipsam laudantium magnam nam,
                    nostrum nulla quis quo voluptates? Error obcaecati sit totam voluptatem voluptates.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Atque dolorum ducimus eligendi eum illo incidunt ipsam laudantium magnam nam,
                    nostrum nulla quis quo voluptates? Error obcaecati sit totam voluptatem voluptates.
                </p>

                <div class="show-annonce-action">
                    <ul class="list-inline">
                        <li><button class="btn btn-blue btn-sm">Ajouter comme ami</button></li>
                        <li><button class="btn btn-default btn-sm">Voir toutes ses annonces</button></li>
                        <li><button class="btn btn-success btn-sm">Ca m'interesse</button></li>
                    </ul>
                </div>
            </div> <!-- show annonce -->
        </div>
    </div>
    <div class="row" role="commentaires">
        <h3>Commentaires & Suggestions</h3>
        <div class="col-xs-5"></div>

        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <div class="title"><span class="glyphicon glyphicon-send"></span> Commentaires</div>
                    <span class="label label-primary pull-right">2</span>
                </div>
                <div class="box-section">
                    <!-- Commentaire numéro 1 -->
                    <div class="box-commentaire">
                        <div class="news-time">
                            <span>16</span>Juin
                        </div>
                        <div class="box-comment-avatar">
                            <img src="{{ asset('bundles/site/images/Avatars/user-3.jpg') }}" alt="Avatar" class="img-responsive"/>
                        </div>
                        <div class="box-comment-content">
                            <h5><a href="#">John Doe</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aperiam culpa delectus fuga hic illo in,
                                ipsam nisi officiis perferendis quidem repellendus soluta, velit vero voluptate voluptates? Porro, possimus.</p>
                        </div>
                    </div>
                    <!-- Fin du commentaire numéro 1 -->

                    <!-- Commentaire numéro 2 -->

                    <div class="box-commentaire">
                        <div class="news-time">
                            <span>16</span>Juin
                        </div>
                        <div class="box-comment-avatar">
                            <img src="{{ asset('bundles/site/images/Avatars/user-6.jpg') }}" alt="Avatar" class="img-responsive"/>
                        </div>
                        <div class="box-comment-content">
                            <h5><a href="#">John Doe</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aperiam culpa delectus fuga hic illo in,
                                ipsam nisi officiis perferendis quidem repellendus soluta, velit vero voluptate voluptates? Porro, possimus.</p>
                        </div>
                    </div>

                    <!-- Fin du Commentaire numéro 2 -->

                </div>
                <!-- Module d'ajout de commentaires -->
                <div class="form-group commentaire-form">
                    <div class="input-group">
                        <input class="form-control form-comment input-sm" type="text" placeholder="Votre commentaire sur cette annonce"/>
                        <span class="input-group-btn">
                                <button class="btn btn-blue input-sm" type="button">Go!</button>
                              </span>
                    </div>

                </div>
            </div> <!-- Fin du Box-section -->
        </div> <!-- Fin du Box -->
        <button class="btn btn-danger btn-sm pull-right">Signaler cette annonce</button>
    </div>

</div><!-- Container -->