<div class="container">
    <div class="row" role="Recherche">

        <div class="col-xs-2">
            <div class="form-group form-search-annonce pull-left">
                <div class="input-group">
                    <select name="#" id="" class="form-control input-sm">
                        <option value="">Toutes catégories</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
            </div> <!-- form group -->
        </div>
        <div class="col-xs-8">
            <div class="form-group form-search-annonce">
                <div class="input-group">
                    <input class="form-control btn-form-search input-sm" type="search" placeholder="Rechercher une annonce, un vendeur, un produit" id="annonce-search"/>
                            <span class="input-group-btn">
                                <button class="btn btn-blue input-sm" type="button">Go!</button>
                              </span>
                </div><!-- input group -->
            </div> <!-- form group -->
        </div>
        <div class="col-xs-2">
            <div class="form-group form-search-annonce pull-right">
                <div class="input-group">
                    <select name="#" id="" class="form-control input-sm">
                        <option value="">Toutes les régions</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </div>
            </div> <!-- form group -->
        </div>

    </div> <!-- row Recherche -->
</div> <!-- Container fluid -->