<div class="container">
    <div class="row" role="Recherche">

        <form action="{{ path('recherche_annonce_principal') }}" method="post">

            <div class="col-xs-2">
                <div class="form-group form-search-annonce pull-left">
                    <div class="input-group">
                        {{ form_widget(form.category)}}
                    </div>
                </div> <!-- form group -->
            </div>

            <div class="col-xs-8">
                <div class="form-group form-search-annonce">
                    <div class="input-group">

                        {{ form_widget(form.recherche,{'attr' : {'class': 'form-control input-sm motcle','value': form_search} })}}

                        <span class="input-group-btn">
                            <button class="btn btn-blue input-sm" type="submit">Go!</button>
                        </span>
                    </div><!-- input group -->
                </div> <!-- form group -->
            </div>

            <div class="col-xs-2">
                <div class="form-group form-search-annonce pull-right">
                    <div class="input-group">
                        {{ form_widget(form.region)}}
                    </div>
                </div> <!-- form group -->
            </div>
        </form>
    </div> <!-- row Recherche -->
</div> <!-- Container fluid -->