<div class="container">
    <div class="col-xs-12">
        <div class="row" role="breadcrumb">
            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><span class="glyphicon glyphicon-home "></span> <a href="#" class="breadcrumb-link">Home</a></span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
              <span class="breadcrumb-label">
                <span class="glyphicon glyphicon-edit "></span> Form Elements
              </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
            </div>
        </div> <!-- row breadcrumb -->

        <div class="row" role="formulaire">
            <div class="box">
                <div class="box-header">
                    <div class="title">Etape 1 > Description de votre annonce</div>
                </div>
                <!-- Contenu du formulaire -->
                <div class="box-section">

                    <!-- Début du bloc de droite -->
                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-align-center"></span></div>
                                <input type="text" class="form-control input-sm" placeholder="Un titre pour votre annonce"/>
                            </div>
                        </div>
                        <!-- Catégorie de l'annonce -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm">@</div>
                                <select class="form-control input-sm"><option>Choisissez la rubrique</option></select>
                            </div>
                        </div>
                        <!-- Sous Catégorie de l'annonce -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm">@</div>
                                <select class="form-control input-sm"><option>Choisissez la sous rubrique</option></select>
                            </div>
                        </div>
                        <!-- Tarif de l'annonce -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-euro"></span></div>
                                <input type="text" class="form-control input-sm" placeholder="Le tarif de ce produit"/>
                            </div>
                        </div>

                        <div class="note pull-right">Please use a secure password</div>

                        <div class="form-group">
                            <label for="exampleInputFile">Photo du produit</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>

                    </div> <!-- Bloc de droite -->

                    <!-- Début du bloc de droite -->
                    <div class="col-xs-6">
                        <!-- Textarea -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-align-center"></span></div>
                                <textarea class="form-control form-annonce input-sm" name="" id="" cols="30" rows="7" placeholder="Le contenu de votre annonce"></textarea>
                            </div>
                        </div>
                        <!-- Selecteurs -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-align-center"></span></div>
                                <select class="form-control input-sm">
                                    <option value="American rose">American rose</option>
                                    <option value="Air superiority blue">Air superiority blue</option>
                                    <option value="Aero blue">Aero blue</option>
                                    <option value="Amaranth">Amaranth</option>
                                    <option value="Alabama Crimson">Alabama Crimson</option>
                                    <option value="Air Force blue (RAF)">Air Force blue (RAF)</option>
                                    <option value="Alloy orange">Alloy orange</option>
                                    <option value="Antique brass">Antique brass</option>
                                    <option value="Android Green">Android Green</option>
                                    <option value="Amethyst">Amethyst</option>
                                    <option value="Alice blue">Alice blue</option>
                                    <option value="SAE/ECE Amber (color)">SAE/ECE Amber (color)</option>
                                    <option value="Antique fuchsia ">Antique fuchsia </option>
                                    <option value="Amber">Amber</option>
                                    <option value="Anti-flash white">Anti-flash white</option>
                                    <option value="Alizarin crimson">Alizarin crimson</option>
                                    <option value="Antique bronze">Antique bronze</option>
                                    <option value="Almond">Almond</option>
                                    <option value="Air Force blue (USAF)">Air Force blue (USAF)</option>
                                    <option value="Amazon">Amazon</option>
                                </select>
                             </div>
                        </div>
                        <!-- Checkbox -->
                        <div class="form-group">
                            <div class="checkbox">
                                <ul class="list-inline">
                                    <li>
                                        <label>
                                            <input type="checkbox" value="">
                                            Option one is this and that
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="">
                                            Option one is this and that
                                        </label>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <!-- Fin du contenu du formulaire -->
            </div>

            </div> <!-- role = formulaire-->

        <div class="row" role="formulaire extended">
            <div class="box">
                <div class="box-header">
                    <div class="title">Etape 2 > Formulaire étendu ( Varie en fonction du produit proposé )  </div>
                </div>

                <div class="box-section">

                    <div class="col-xs-7">

                        <div class="col-xs-6 div-no-padding">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-th-list"></span></div>
                                    <select name="#" id="#" class="form-control input-sm">
                                        <option value="#">Selectionnez une option dans le contenu</option>
                                    </select>
                                </div>
                            </div> <!-- form-group -->

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-share"></span></div>
                                    <select name="#" id="#" class="form-control input-sm">
                                        <option value="#">Selectionnez une option</option>
                                    </select>
                                </div>
                            </div> <!-- form-group -->

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-volume-down"></span></div>
                                    <select name="#" id="#" class="form-control input-sm">
                                        <option value="#">Selectionnez une option</option>
                                    </select>
                                </div>
                            </div> <!-- form-group -->
                        </div> <!-- col-xs-6 -->

                     <div class="col-xs-6">
                         <div class="form-group">
                             <div class="input-group">
                                 <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-align-justify"></span></div>
                                 <select name="#" id="#" class="form-control input-sm">
                                     <option value="#">Selectionnez une option dans le contenu</option>
                                 </select>
                             </div>
                         </div> <!-- form-group -->

                         <div class="form-group">
                             <div class="input-group">
                                 <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-ok-sign"></span></div>
                                 <select name="#" id="#" class="form-control input-sm">
                                     <option value="#">Selectionnez une option</option>
                                 </select>
                             </div>
                         </div> <!-- form-group -->

                         <div class="form-group">
                             <div class="input-group">
                                 <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-briefcase"></span></div>
                                 <select name="#" id="#" class="form-control input-sm">
                                     <option value="#">Selectionnez une option</option>
                                 </select>
                             </div>
                         </div> <!-- form-group -->
                    </div> <!-- col-xs-6 -->

                    <div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Option one is this and that&mdash;be sure to include why it's great
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Option two can be something else and selecting it will deselect option one
                            </label>
                        </div>
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                                Option three is disabled
                            </label>
                        </div>
                    </div> <!-- Les boutons radio -->
                    </div> <!-- col-xs-7 -->

                    <div class="col-xs-5">
                        <blockquote>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis culpa tenetur.
                            Dolorum ducimus eum expedita fugiat illo minus nam, necessitatibus nostrum odio provident quaerat ratione, repudiandae rerum suscipit ullam.
                        </blockquote>

                    </div>

                    <div class="clearfix"></div>

                </div> <!-- Box section -->
            </div>  <!-- box -->
        </div> <!-- row formulaire extended-->

        <div class="row" role="formulaire validation">
         <div class="box">
                <div class="box-header">
                    <div class="title">Etape 3 > Validation du formulaire  </div>
                </div> <!-- box header -->

                <div class="box-section">
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-blue btn-little-large">Save changes</button>
                        <button type="button" class="btn btn-default btn-little-large">Cancel</button>
                    </div>
                </div> <!-- box-section -->
            </div> <!-- box -->
        </div><!-- row formulaire validation -->
    </div>
</div> <!-- container -->