<div class="row" role="breadcrumb">
    <div class="col-xs-12">
        <div id="breadcrumbs">
            <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><span class="glyphicon glyphicon-home "></span> <a
                                href="{{ path('bloc_homepage') }}" class="breadcrumb-link">Agora</a></span>
                <span class="breadcrumb-arrow"><span></span></span>
            </div>

            <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <span class="glyphicon glyphicon-fullscreen"></span>
                        <a href="{{ path('bloc_homepage') }}" class="breadcrumb-link-inherit"> Accueil </a>
                    </span>
                <span class="breadcrumb-arrow"><span></span></span>
            </div>
        </div>
    </div>
</div>