<div class="container">

    <!-- fil ariane -->
    {% include ('@Site/Board/Template/board_ariane.html.twig') %}

    <!-- row breadcrumb -->
    {% include ('SiteBundle:Board/Template:board_stat_recommandation.html.twig') %}

    <!-- feedback et screen -->
    {% include ('SiteBundle:Board/Template:board_region_annonce.html.twig') %}

    <!-- Box des fil actu -->
    {% include ('SiteBundle:Board/Template:board_fil_actu.html.twig') %}

    <!-- Box de mes annonces -->
    {% include ('SiteBundle:Board:Template/board_my_annonce.html.twig') %}

</div>
