<div class="container">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" >
                <h3 class="citation-title text-center">" Acheter, vender, commenter et partager des milliers d'annonces."</h3>

                <form action="{{ path('recherche_annonce') }}" method="post">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group form-search-annonce">

                                {{ form_widget(form.recherche,{'attr': {'class':'form-control btn-form-search-accueil','placeholder': 'Rechercher sur Tinkernote'}}) }}

                                 <span class="input-group-btn">
                                    {{ form_widget(form.region) }}
                                 </span>

                                {{ form_rest(form) }}

                                 <span class="input-group-btn">
                                        <button class="btn btn-blue btn-form-search-accueil-sub" type="submit">Rechercher!</button>
                                 </span>
                            </div>
                        </div>
                    </div>
                </form>


            </div> <!-- col-xs-10 -offset-1 -->
            <div class="col-xs-1"></div>
        </div> <!-- Row -->
    </div> <!-- col-xs-12 -->
</div> <!-- Container -->