<!-- Modal -->
<div class="modal fade" id="annonce-tuto-abonner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Comment s'abonner à un groupe, une région, un utilisateur...</h4>
            </div>
            <div class="modal-body">
                <h5>Pourquoi s'abonner ?</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut commodi consectetur consequatur doloribus dolorum ea eius enim,
                    expedita facere ipsa labore officiis quia quod ratione reiciendis reprehenderit, sed! Sequi.</p>

                <br/>
                <div class="text-center">
                    <a href="{{ path('fos_user_registration_register') }}"><button class="btn btn-info"><i class="fa fa-user"></i> Inscription</button></a>
                    <a href="{{ path('fos_user_security_login') }}"><button class="btn btn-success"><i class="fa fa-sign-in"></i> Identification</button></a>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>