{% extends 'UserBundle::layout.html.twig' %}

{% block body %}
    {% include ('UserBundle:Perso/Template:header_edit_profile.html.twig') %}
    {% include ('UserBundle:ChangeAvatar:changeAvatar_content.html.twig') %}
    </div>
    </div> <!-- col-xs-10 -->

    <div class="col-xs-1"></div>
    </div>
    </div>
{% endblock %}







