{% extends 'UserBundle::layout.html.twig' %}

{% block body %}

{% include ('UserBundle:Perso/Template:header_edit_profile.html.twig') %}

{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div> <!-- div box-section -->
    </div> <!-- div box -->
    </div> <!-- col-xs-12 -->

    </div>
    </div>
{% endblock %}







