<div class="container">
    <div class="row" role="breadcrumb">
        <div class="col-xs-12">
            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><span class="glyphicon glyphicon-home "></span> <a href="#" class="breadcrumb-link">Agora</a></span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <span class="glyphicon glyphicon-tasks"></span> Profile </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <span class="glyphicon glyphicon-user"></span> Nom D'utilisateur </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
            </div>
        </div>
    </div> <!-- row breadcrumb -->

    <div class="col-xs-12">

        <div class="row">
                <div class="usr-profile-bg">
                    <div class="col-xs-10 no-padding">
                        <img src="{{ asset('bundles/site/images/fightclub.jpg') }}" alt="User background" class="img-responsive"/>
                    </div>
                    <div class="col-xs-2">
                        <ul class="nav nav-pills nav-stacked nav-show-profile">
                            <li><button type="button" class="btn btn-info btn-block"><i class="fa fa-group"></i> Demander en ami</button></li>
                            <li><button type="button" class="btn btn-success btn-block"><i class="fa fa-plug"></i> Connecté</button></li>
                            <li><button type="button" class="btn btn-danger btn-block"><i class="fa fa-unlink"></i> Hors ligne</button></li>
                            <li><button type="button" class="btn btn-warning btn-block"><i class="fa fa-comments"></i> Envoyer un message</button></li>
                        </ul>
                    </div>
                </div>
        </div> <!-- row -->

        <div class="row">
            <div class="usr-profile-avatar">
                <img src="{{ asset('bundles/site/images/jack.jpg') }}" alt="User background" class="img-responsive img-thumbnail img-circle user-avatar"/>
                <h2 class="text-center">Nom d'utilisateur</h2>
            </div>
        </div> <!--uesr-profile-avatar -->

        <div class="row">
            <div class="box">
                <div class="box-section">
                  <div class="row">
                      <div class="col-xs-8">
                          <h4>Taux de complétion du profil</h4>
                          <div class="progress progress-striped">
                              <div class="progress-bar progress-bar-warning" style="width: 60%">60%</div>
                          </div>

                          <h4>A propos : </h4>

                          <div class="row">
                              <div class="col-xs-6">
                                  <p><span class="glyphicon glyphicon-envelope"></span> Gaucks@gmail.com</p>
                                  <p><span class="glyphicon glyphicon-user"></span> Age : 32 ans</p>
                                  <p><span class="glyphicon glyphicon-home"></span> Localisation: Vinon sur verdon (83560)</p>
                              </div>

                              <div class="col-xs-6">
                                  <p><span class="glyphicon glyphicon-tags"></span> Membre niveau : Débutant</p>
                                  <p><span class="glyphicon glyphicon-headphones"></span> Dernière annonce posté le : 01/09/2014 à 12h05min</p>
                                  <p><span class="glyphicon glyphicon-off"></span> Dernière connexion le : 12/09/2014 à 22h15min</p>
                              </div>
                          </div>

                          <div class="row">
                              <br/>
                              <div class="col-xs-12">
                                  <blockquote>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                                  </blockquote>
                              </div>
                          </div>
                      </div>

                      <div class="col-xs-4 col-user-show-activity">
                          <div class="box">
                              <div class="box-header">
                                  <div class="title">Statitstiques des annonces</div>
                              </div>
                              <div class="box-section">
                                  <ul class="list-group">
                                      <li class="list-group-item">
                                          <span class="badge ">14</span>
                                          Annonces
                                      </li>
                                      <li class="list-group-item">
                                          <span class="badge">2</span>
                                          Ventes réussies
                                      </li>
                                      <li class="list-group-item">
                                          <span class="badge">1</span>
                                          Annonces en cours
                                      </li>
                                  </ul>
                              </div>
                          </div>

                          <div class="box">
                              <div class="box-header">
                                  <div class="title">Abonnements</div>
                              </div>
                              <div class="box-section">
                                  <ul class="list-group">
                                      <li class="list-group-item">
                                          <span class="badge">14</span>
                                          Abonnements
                                      </li>
                                      <li class="list-group-item">
                                          <span class="badge">2</span>
                                          Abonnés
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div> <!-- row -->
                </div>
            </div> <!-- box -->
        </div> <!-- row -->

    </div> <!-- col-xs-12 -->
</div> <!-- container -->